'scopeName': 'source.jc'
'fileTypes': ['jc']
'name': 'Jacy'

'patterns': [
  {
    'match': '\\b(and|as|async|await|break|const|continue|do|elif|else|enum|false|for|func|if|impl|in|\\!in|infix|init|loop|match|mod|move|mut|return|or|party|pri|pub|ref|self|static|struct|super|this|trait|true|type|union|unsafe|use|let|where|while|yield)\\b'
    'name': 'keyword'
  },

  'operators': {
    'patterns': [
      {
          'match': '='
          'name': 'operator.assign'
      }
      {
          'match': '+='
          'name': 'operator.add_assign'
      }
      {
          'match': '-='
          'name': 'operator.sub_assign'
      }
      {
          'match': '*='
          'name': 'operator.mul_assign'
      }
      {
          'match': '/='
          'name': 'operator.div_assign'
      }
      {
          'match': '%='
          'name': 'operator.rem_assign'
      }
      {
          'match': '**='
          'name': 'operator.pow_assign'
      }
      {
          'match': '<<='
          'name': 'operator.shl_assign'
      }
      {
          'match': '>>='
          'name': 'operator.shr_assign'
      }
      {
          'match': '&='
          'name': 'operator.bitand_assign'
      }
      {
          'match': '|='
          'name': 'operator.bitor_assign'
      }
      {
          'match': '^='
          'name': 'operator.xor_assign'
      }
      {
          'match': '+'
          'name': 'operator.add'
      }
      {
          'match': '-'
          'name': 'operator.sub'
      }
      {
          'match': '*'
          'name': 'operator.mul'
      }
      {
          'match': '/'
          'name': 'operator.div'
      }
      {
          'match': '%'
          'name': 'operator.rem'
      }
      {
          'match': '**'
          'name': 'operator.pow'
      }
      {
          'match': '<<'
          'name': 'operator.shl'
      }
      {
          'match': '>>'
          'name': 'operator.shr'
      }
      {
          'match': '&'
          'name': 'operator.bitand'
      }
      {
          'match': '|'
          'name': 'operator.bitor'
      }
      {
          'match': '^'
          'name': 'operator.xor'
      }
      {
          'match': '~'
          'name': 'operator.tilde'
      }
      {
          'match': '!'
          'name': 'operator.not'
      }
      {
          'match': '=='
          'name': 'operator.eq'
      }
      {
          'match': '!='
          'name': 'operator.not_eq'
      }
      {
          'match': '<'
          'name': 'operator.lt'
      }
      {
          'match': '>'
          'name': 'operator.gt'
      }
      {
          'match': '<='
          'name': 'operator.lt_eq'
      }
      {
          'match': '>='
          'name': 'operator.gt_eq'
      }
      {
          'match': '<=>'
          'name': 'operator.shaceship'
      }
      {
          'match': '..'
          'name': 'operator.range'
      }
      {
          'match': '..='
          'name': 'operator.range_incl'
      }
      {
          'match': '.'
          'name': 'operator.member_access'
      }
      {
          'match': '::'
          'name': 'operator.path'
      }
      {
          'match': '...'
          'name': 'operator.spread'
      }
      {
          'match': '|>'
          'name': 'operator.pipe'
      }
      {
          'match': '$'
          'name': 'operator.dollar'
      }
      {
          'match': '@'
          'name': 'operator.at'
      }
    ]
  }
]
