name: 'Jacy'
scopeName: 'source.jc'
type: 'tree-sitter'
parser: 'tree-sitter-jacy'

fileTypes: ['jc']

injectionRegex: '^jc$|^JC$|jc|Jacy|jacy'

comments:
    start: '// '

scopes:
    'source_file': 'source.jc'

    'const_param > ident': 'constant.other'

    'type_ident': [
        # Specific rule for generic-like types
        {match: '^[A-Z\\d_]{2,}$', scopes: 'constant-other'},
        'support.type.other'
    ]

    'prim_type': 'support.type.primitive'
    'never_type': 'support.type.never'
    'unit_type': 'support.type.unit'

    'ident': [
        # Specific rule for constant-like types
        {match: '^[A-Z\\d_]{2,}$', scopes: 'constant.other'}
    ]

    # Modifiers

    # Keywords
    '"if"': 'keyword.control.if'
    '"elif"': 'keyword.control.elif'
    '"else"': 'keyword.control.else'
    '"in"': 'keyword.control.in'
    '"for"': 'keyword.control.for'
    '"loop"': 'keyword.control.loop'
    '"while"': 'keyword.control.while'
    '"match"': 'keyword.control.match'
    '"return"': 'keyword.control.return'
    '"break"': 'keyword.control.break'
    '"continue"': 'keyword.control.continue'
    '"ref"': 'keyword.control.ref'
    '"let"': 'keyword.control.let'

    '"let"': 'storage.modifier.let'
    '"const"': 'storage.modifier.const'
    '"type"': 'storage.modifier.type'
    '"func"': 'storage.modifier.func'
    '"enum"': 'storage.modifier.enum'
    '"mod"': 'storage.modifier.mod'
    '"trait"': 'storage.modifier.trait'
    '"impl"': 'storage.modifier.impl'
    '"struct"': 'storage.modifier.struct'
    '"pub"': 'storage.modifier.pub'

    '"as"': 'keyword.operator.as'
    '":"': 'keyword.operator.constraint'
    '"::"': 'keyword.operator.path'
    '"="': 'keyword.operator.assign'
    'bind_pat > "@"': 'keyword.operator.bind_pat'
    'prefix_expr > "*"': 'keyword.operator.dereference'
    'prefix_expr > "!"': 'keyword.operator.not'
    'try_expr > "?"': 'keyword.operator.try'
    'try_expr > "!"': 'keyword.operator.unwrap'

    # punctuations
    '";"': 'punctuation.terminator.statement'
    '"["': 'punctuation.definition.begin.bracket.square'
    '"]"': 'punctuation.definition.end.bracket.square'
    '","': 'punctuation.separator.delimiter'
    '"{"': 'punctuation.section.block.begin.bracket.curly'
    '"}"': 'punctuation.section.block.end.bracket.curly'
    '"("': 'punctuation.section.parens.begin.bracket.round'
    '")"': 'punctuation.section.parens.end.bracket.round'

    # Literals
    'unit_expr': 'constant.language.unit'
    'char_lit': 'string.quoted.single'
    'string_lit': 'string.quoted.double'
    'bool_lit': 'constant.language.boolean'
    'int_lit': 'constant.numeric.decimal'
    'float_lit': 'constant.numeric.decimal'
    'lit_pat > "-"' : 'constant.numeric.neg'

    # Operators
    '"and"': 'keyword.control.and'
    '"or"': 'keyword.control.or'

    '''
    self_parameter > "&",
    ref_pat > "&",
    ref_expr > "&",
    ref_type > "&"
    ''' : 'keyword.operator.reference'

    '''
    assign_expr > "+=",
    assign_expr > "-=",
    compound_assignment_expr > "/=",
    compound_assignment_expr > "*=",
    compound_assignment_expr > "%=",
    compound_assignment_expr > "<<=",
    compound_assignment_expr > ">>=",
    ''' : 'keyword.operator.math.assign'

    '''
    infix_expr > "+",
    infix_expr > "-",
    infix_expr > "/",
    infix_expr > "*",
    infix_expr > "%",
    infix_expr > "**",
    infix_expr > "<<",
    infix_expr > ">>",
    ''' : 'keyword.operator.math'

    '''
    assign_expr > "+=",
    assign_expr > "-=",
    assign_expr > "/=",
    assign_expr > "*=",
    assign_expr > "%=",
    assign_expr > "<<=",
    assign_expr > ">>=",
    ''' : 'keyword.operator.math.assign'

    '''
    infix_expr > "&",
    infix_expr > "|",
    infix_expr > "^",
    ''' : 'keyword.operator.logic.bitwise'

    '''
    infix_expr > "<",
    infix_expr > ">",
    infix_expr > "==",
    infix_expr > "<=",
    infix_expr > ">=",
    infix_expr > "!=",
    ''' : 'keyword.operator.logic.bitwise'

    '''
    infix_expr > "and",
    infix_expr > "or",
    ''' : 'keyword.operator.logic.boolean'

    '''
    range_expr > "..",
    range_expr > "..=",
    ''' : 'keyword.operator.range'

    'match_arm > "=>"': 'keyword.operator.match_arm'

    # Other
    '''
    "->",
    "<-",
    "<=",
    ''' : 'keyword.operator.misc'

    '''
    "-", "/", "%", "<<", ">>", "and", "or", "<", ">", "=>", "<-",
    "==", "<=", ">=", "!=", "&", "|", "^", "..", "..=", "...", "->"
    ''' : 'misc.other'
